<div class="mt-login">
  <form
  class="mt-login-form"
  #loginForm="ngForm"
  (ngSubmit)="onLogin()">
  <section class="text-center">
    <img src="../../assets/images/logo.png" alt="logo" class="mt-logo" />
    <h2>Login on MoneyTree</h2>
  </section>
  <mat-form-field class="mt-form-control-100">
    <input
      matInput
      placeholder="Email"
      [formControl]="emailFormControl"
      [(ngModel)]="email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="mt-form-control-100">
    <input
      matInput
      type="password"
      placeholder="Password"
      [formControl]="passwordFormControl"
      [(ngModel)]="password">
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="mt-btn">
    Log in
  </button>
  <p><a routerLink='/forgot-password'>Forgot password?</a></p>
  <div class='divider'>
    <span>or</span>
  </div>
  <button mat-raised-button color="warn" class="mt-btn">
    Login with linkedin
  </button>
  <p>Want to join? Register as <a routerLink='/signup'>Candidate</a> or <a routerLink='/signup'>Company</a></p>
</form>
</div>
