.mt-login {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  .mt-logo {
    width: 100px;
  }
  .mt-form-control-100 {
    width: 100%;
  }
  .mt-section {
    display: flex;
    height: 60px;
    flex-direction: column;
    .mt-error {
      font-size: 75%;
    }
  }
  .mt-btn {
    width: 100%;
    font-weight: 600;
  }
}
